body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }

  body > dialog{
    display: flex;
  }
  #game-container {
    display: grid;
    width: 400px;
    background-color: rgb(186, 245, 225);
    height: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 5px inset rgb(0, 0, 0);
  }

  #game-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  #game-container > footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  #game-container > footer > p{
    font-size: small;
    text-align: center;
    padding: 5px;
  }

  .screen {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .screen.active {
    display: flex;
  }
 
  button {
    padding: 12px 90px;
    margin: 2px;
    background-color: rgb(207, 162, 252)52;
    border: 2px solid #7F00FF;
    border-radius: 20px;
    color: #7F00FF;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }


  button:hover {
    background-color: #7F00FF;
    color: white;
  }