@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: auto;
    padding: 0;
    height: 94%;
    width: 100%;
    font-family: 'Roboto';
    background-color: rgb(52, 73, 57);
    color: white;
  }

  :root {
    --color1: #0c5f45;
    --color2: #15ab7c;
    --color3: #052c1f;
  }
  #game-container {
    display: grid;
    width: 400px;
    background-image: url("../Images/Backgrounds/Background\ 57255_updated.jpg");
    background-size: cover;
    height: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 5px inset rgb(0, 0, 0);
  }
  
  #game-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  #game-container > footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  #game-container > footer > p{
    font-size: small;
    text-align: center;
    padding: 10px;
  }

  #home-screen > img{
    width: 130%;
    height: 100%;
  }

  #placa{
    background-image: url("/Images/Placa.png");
    background-size: cover;
  }
  
  p, h2{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .screen {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .screen.active {
    display: flex;
  }
 
  button {
    padding: 12px 90px;
    margin: 2px;
    background-color: rgb(207, 162, 252)52;
    border: 2px solid var(--color1);
    border-radius: 20px;
    color: var(--color2);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }

  input {
    padding: 12px 50px;
    margin: 2px;
    background-color: rgb(207, 162, 252)52;
    border: 2px solid var(--color1);
    border-radius: 20px;
    color: var(--color2);
    font-size: 16px;
    text-align: center;
  }

  button:hover {
    background-color: var(--color3);
    border: 2px solid var(--color3);
    color: white;
  }