
.wrapper {
  width: 100%;
  max-width: 14.37em;
  max-height: 90vh;
  padding: 3em;
  border-radius: 1em;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#wheel {
  max-height: inherit;
  width: inherit;
  top: 0;
  padding: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#spin-btn {
  padding: 0px 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
  color: #c66e16;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 600;
}

#arrow {
  position: absolute;
  width: 4em;
  top: 37%;
  right: -10%;
}

#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #202020;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
  }
  img {
    right: -5%;
  }
}
